body {
 
  background-size: cover;
  background-position: center;
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

form h1 {
  text-align: center;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"],
button[type="reset"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
  font-size: 16px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: darkgreen;
}